.title{
    position:fixed;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    text-align:center;
    border-style:ridge;
    border-width: 5px;
    top: 2px;
    left: 0px;
    right: 0px;
    color: white;
    font-size: 80px; 
    background-image: url(../images/Header%20Image.jpg);
    z-index: 100;
}

.contents {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 110px; 
    left: 2px;
    width: 150px;
    bottom: 0px;
    position: fixed;
    border-style:ridge;
    border-width: 5px;
    text-align: left; 
}

.contents a{color:inherit;}

a {
    text-decoration: none;
}

.mainContent{
    position:absolute;
    top: 110px; 
    left: 165px;
    right: 3px;
    border-style:ridge;
    border-width: 5px;
    padding-left: 5px;
}

.gallery img{
    width:300px;
    height:200px;
    object-fit: cover;
}

